name: custom action client
on:
   push:
      branches:
      - master
jobs:
   custom-action-client:
      name: custom action client
      runs-on: ubuntu-latest
      steps:
      - name: listing directories
        shell: bash
        run: pwd
      - name: getting copy of project.
        uses: actions/checkout@v2
      - name: using isEven action
        uses: akshay-jedhe/isevenaction@master
        id: action-user
        with:
           target-number: /github/workspace
      - name: printing the result of  custom action.
        shell: bash
        run: echo ${{ steps.action-user.outputs.result }}
   
       
