name: greeting upload/download artifact workflow.
on:
   push:
      branches:
      - master
jobs:
   greeting_app:
      name: greeting app
      runs-on: ubuntu-latest
      steps:
      - name: getting copy of project.
        uses: actions/checkout@v2
      - name: setting up java environment.
        uses: actions/setup-java@v1
        with:
           java-version: 1.8
      - name: compiling project with mvn
        run: mvn compile
        shell: bash
      - name: packaging project with mvn
        if: success()
        run: mvn package
        shell: bash
      - name: upload the greeting artifact.
        uses: actions/upload-artifact@v1
        with:
           name: greeting-app
           path: ./docker/
   greeting_builder:
      name: greeting app builder
      runs-on: ubuntu-latest
      steps:
      - name: getting greeting app artifact and Dockerfile
        uses: actions/download-artifact@v1
        with:
           name: greeting-app
      - name: building greeting app container image.
        shell: bash
        run: docker build -t greeting . 
